@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');

.fourth-section{
    background-color: rgb(238, 238, 238);
    padding:4% 6% 0 6% ;
    font-family: 'Montserrat', sans-serif;
}

.power-train{
    padding: 8%;
}
.heading{
    font-weight: 600;
}
.thin{
    font-weight: 300;
}

.train-img {
    height: 100vh;
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1235,w_2880,c_fit,f_auto,q_auto:best/Model-S-Dual-Motor-Powertrain-Carousel-Desktop');
    background-size: cover;
    background-position: center;
}

.variant{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8%;
}


